.PDFViewerContainer {
    display: flex;
    height: 95%;
    width: 95%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.PDFDetails {
    display: flex;
    height: 25% ;
    width: 100%;
    flex-direction: column;
    gap: 0vh;
    align-items: center;
    justify-content: center;
    padding: 3vmin;
    margin-bottom: 3vh;
}

.PDFContainer {
    width: 99%;
    height: 75%;
    margin: 0;
    border: 2px solid #000d;
    border-radius: 10px;
}

.PDFDetailsContainer {
    display: flex;
    height: fit-content;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    gap: 3vmin;
}